<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Light System</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="import" href="/color-picker-element/dist/color-picker.html">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
  <div id="header">
    <a href="/"><img id="logo" src="/ARMmbedLogo.svg"></a>
  </div>

  <h1>Lights</h1>

  <ul id="lights">
  {{#devices}}
    <li data-endpoint="{{name}}">
      <div class="color" style="background-color: rgb({{color}})">{{count}}</div>
      <div class="right-col">
        <p class="endpoint change-endpoint-name">{{name}}</p>
        <p class="timeout">Motion timeout: <a href="#" class="change-timeout">{{timeout}} seconds</a></p>
        <div class="status">
          <div class="change-status {{motionClass}}" data-action="0">Motion</div>
          <div class="change-status {{onClass}}" data-action="1">On</div>
          <div class="change-status {{offClass}}" data-action="2">Off</div>
        </div>
      </div>
    </li>
  {{/devices}}
  </ul>

  <div id="color-picker-overlay" style="display: none">
    <h2>Change color</h2>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    /*global io location localStorage */
    var socket = io.connect(location.origin);

    var cpOverlay = document.querySelector('#color-picker-overlay');

    document.querySelector('#lights').addEventListener('click', function(e) {

      var parent = e.target;
      while (e.target.parentElement && !((parent = parent.parentElement).dataset.endpoint)) {
        // noop
      }
      if (!parent.dataset.endpoint) return console.error('Could not find parent for', e.target);

      console.log('endpoint is', parent.dataset.endpoint);

      if (e.target.classList.contains('change-timeout')) {
        var v = prompt('Enter a new value for the motion timeout');
        if (!v || isNaN(v)) {
          return alert('Not a number...');
        }
        else {
          e.target.textContent = v + ' seconds';
        }
        socket.emit('change-timeout', parent.dataset.endpoint, Number(v));
        return false;
      }

      if (e.target.classList.contains('change-status')) {
        // clear the others
        [].forEach.call(e.target.parentElement.querySelectorAll('.change-status'), function(el) {
          el.classList.remove('selected');
        });
        e.target.classList.add('selected');

        socket.emit('change-status', parent.dataset.endpoint, Number(e.target.dataset.action));
        return;
      }

      if (e.target.classList.contains('change-endpoint-name')) {
        var n = prompt('Enter new name');
        if (n) {
          e.target.textContent = n;
          localStorage.setItem(parent.dataset.endpoint + '-name', n);
        }
        else {
          e.target.textContent = parent.dataset.endpoint;
          localStorage.setItem(parent.dataset.endpoint + '-name', '');
        }
        return;
      }

      if (e.target.classList.contains('color')) {
        cpOverlay.dataset.endpoint = parent.dataset.endpoint;
        cpOverlay.style.display = 'flex';
        return;
      }

      console.log(e.target);
    });

    [].forEach.call(document.querySelectorAll('#lights li'), function(li) {
      var n = localStorage.getItem(li.dataset.endpoint + '-name');
      if (n) {
        li.querySelector('.change-endpoint-name').textContent = n;
      }
    });

    // this is needed by color-picker component unfortunately (does reflow)
    var vw = window.innerWidth * 0.8;
    // so this thing reads its attributes when creating, not when adding to body
    // that's a mess... dont feel like patching the library
    cpOverlay.innerHTML +=
      '<color-picker width="' + vw + '" height="' + vw + '"></color-picker>';

    document.querySelector('color-picker').addEventListener('colorselected', function(e) {
      var rgb = e.detail.rgb;
      var v = (rgb.r << 16) + (rgb.g << 8) + rgb.b;
      if (v === 0) return;

      console.log('new value is', v);

      if (!cpOverlay.dataset.endpoint) return console.error('No data-endpoint attribute found...');

      document.querySelector('*[data-endpoint="' + cpOverlay.dataset.endpoint + '"] .color')
        .style.backgroundColor = 'rgb(' + rgb.r + ', ' + rgb.g + ', ' + rgb.b + ')';

      socket.emit('change-color', cpOverlay.dataset.endpoint, v);
    });

    cpOverlay.onclick = function(e) {
      if (e.target !== e.currentTarget) return;
      this.style.display = 'none';
    };
  </script>

</body>
</html>
